body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%; 
}
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: auto;
}
footer img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    vertical-align: middle;
}
header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.items{
    list-style-type: none;
    height: 2rem;
    display: flex;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    width: max-content;
    height: max-content;
}
#logo{
    justify-content: center;
    margin-left: 500px;
    width: 4rem;
    height: 4rem;
}

#links{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    cursor: pointer;
}

.nav{
    justify-items: left;
    align-items: end;
    height: 6rem;
    padding: 0%;
    display: flex;
    gap: 2rem;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    margin: 0%;
}
.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #333;
}

main{
    padding: 0%;
    width: 100%;
    left: 0;
    margin: 0%;
}
video{
    pointer-events: none;
    margin-top: 3.5rem;
    width: 100%;
    left: 0;
}

.formulario {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.mensaje{
    margin-top: 100px;
    margin-bottom: 4rem;
}
.product-list {
    margin: 0 auto;
    display: flex;
}
.product {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.product img {
    max-width: 100%;
    height: auto;
}
.product:hover {
    transform: scale(1.1); 
}